@model IEnumerable<DotnetcoreMediaPanion.ViewModels1.About>
@{
    Layout = null;
}

<div id="about" class="about-area area-padding">

    @foreach (var items in Model)
    {

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>@items.Title</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well ">
                            <a href="#">
                                <img class="aboutimg" src="~/web/img/about/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well start-->
                    <!-- single-well end-->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="#">
                                    <h4 class="sec-head">Who We Are</h4>
                                </a>
                                <p>
                                    @items.Description
                                </p>
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i> @items.Service1
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> @items.Service2
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> @items.Service3
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> @items.Service4
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> @items.Service5
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> @items.Service6
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End col-->
                </div>
            </div>
        </div>
    }

</div>>

